---
layout: default
title: Projektų sąrašas
menutitle: Projektai
---

<div class="projects">
{% assign heroes = (site.projektai | where: "type", "hero") | sort: "order" %}
{% for project in heroes %}

	<article class="project project--hero">
		<div class="project__hero-image"
			{% if project.heroImage %}
			style="background-image: url('{{ site.url }}/assets/img/projektai/{{ project.heroImage }}');"
			{% endif %}
			>
		</div>
		<div class="project__container">
			<h3 class="project__title">
				<a href="{{site.baseurl}}/{{ project.url }}">{{ project.title }}</a>
			</h3>
			<div class="project__body">
				{{ project.content }}
			</div>
		</div>
	</article>

{% endfor %}
</div>

<div class="projects projects--basic">
{% assign projects = (site.projektai | sort: "order" %}
{% for project in projects %}
	{% if project.type != "hero" %}

		<article class="project project--basic">
			<div class="project__hero-image"
				{% if project.heroImage %}
				style="background-image: url('{{ site.url }}/assets/img/projektai/{{ project.heroImage }}');"
				{% endif %}
				>
			</div>
			<div class="project__container">
				<h3 class="project__title">
					<a href="{{site.baseurl}}{{ project.url }}">{{ project.title }}</a>
				</h3>
				<div class="project__body">
					{{ project.content }}
				</div>
			</div>
		</article>

	{% endif %}
{% endfor %}
</div>


