---
layout: default
title: Projektai
menutitle: Projektai
---
<div class="projects">
{% assign projects = site.projektai | reverse %}
{% for project in projects %}
  <article class="project">
    {% if project.hero %}
      <div class="project-hero-image">
	{% assign hero_src = project.path | remove_first: "_projektai/" | remove_first: "/page.md" | prepend: "/projektas/" | append: "/images/hero.jpg" %}
	<img src="{{hero_src}}">
      </div>
    {% endif %}
    <div class="project-container">
      <h3 class="project-title">
	<a href="{{site.baseurl}}{{ project.url }}">{{ project.title }}</a>
      </h3>
      <div class="project-body">
	{{ project.excerpt }}
      </div>
    </div>
  </article>
{% endfor %}
</div>
