<link rel="stylesheet" href="{{site.baseurl}}/assets/css/viewer.min.css" title="main-stylesheet">
<script src="{{site.baseurl}}/assets/js/viewer.min.js"></script>
<script>
  Viewer.setDefaults({
    url(image) {
      return image.src.replace('thumbs/', '')
    },
    loading: false,
    title: false,
    transition: false,
    toolbar: {
      prev: {show: 1, size: 'large'},
      next: {show: 1, size: 'large'},
    },
    movable: true,
    rotatable: false,
    navbar: false,
    zoomOnTouch: true,
    slideOnTouch: true,
    initialCoverage: 1,
  })
</script>
