
// Basics
$body-color: #fff;
$text-color: #333;

$primary-color: #5D2830;

$bp2: 480px;
$bp3: 600px;
$bp4: 768px;
$bp5: 992px;
$bp6: 1382px;

// Typography
$base-font-family: "pt-sans", sans-serif;
$alternative-font-family: "jubilat", serif;