$base: #ecfff5;

#background-lines {
	position:fixed;
	width :100%;
	height:100%;
	top: 0;
	left: 0;
	background:$base;
	overflow:hidden;
	z-index: -1;

	> .line {
		display: inline-block;
		width: 5%;
		height: 100%;

		@include vendor-prefix(animation, spectrum 8s linear infinite);


		@for $i from 1 through 20 {
			&:nth-child(#{$i}) {
				@include vendor-prefix(animation-delay, 0.2s * $i);
			}
		}
	}
}

@include keyframes(spectrum) {
	@for $i from 0 through 20 {
		#{$i*5%}  {
			background:rgba(adjust-hue($base, $i *18deg), 1);
		}
	}
}