@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background-color: $body-color;
	-webkit-overflow-scrolling: touch;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: 16px;
	line-height: 1.25;
	margin: 0;
	width: 100%;

	@include breakpoint($bp2) {
		font-size: 18px;
	}

	@include breakpoint($bp3) {
		font-size: 16px;
	}

	@include breakpoint($bp4) {
		font-size: 18px;
	}

	@include breakpoint($bp5) {
		font-size: 21px;
		line-height: 1.5;
	}
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	border-bottom: thin solid #666;
	color: $text-color;
	text-decoration: none;

	&:hover {
		border-color: transparent;
	}
}

.nav a {
	border: 0;
	display: inline-block;
	padding: 1em;
	font-weight: normal;
}

.nav .active {
	color: $text-color;
}

h1 {
	// color: $primary-color;
}