#logotype {
	float: left;
	margin-top: 0.75em;
	margin-left: 1em;
	margin-right: 1em;
}

.nav {
	padding: 1.5em 2em;
}

#main-nav {
}

details {
    font-size: 1.2em;
}

#container {
	margin: 0 0 5em;
	padding: 0 2em;

	> article {
		> section {
			max-width: 50em;
			@include sides-margin(auto);
		}
	}
}

#map-view {
	height: 400px;
	width: 100%;
	margin: 1.5em 0;
}

.layout--header {
	padding: 0 0 1em;

}

.layout--single-column {
	margin: 0 auto;
	max-width: 50em;
}

.layout--center {
	text-align: center;
}

.flex-box {
	display: flex;
	flex-direction: column;
	@include breakpoint($bp5) {
		flex-direction: row;
	}
}
.flex-box-col-33 {
	margin: .5rem;
	border: 1px solid black;
	border-radius: 3px;
	@include breakpoint($bp5) {
		width: 33.3333%;
	}
}
.flex-box-prize {
	margin: .5rem;
	@include breakpoint($bp5) {
		width: 60%;
	}
}
.flex-box-col-title {
	padding: 1rem;
	font-weight: 700;
}
.flex-box-col-content {
	padding: 1rem;
	font-size: 1rem;
}
