#logotype {
	left: 2em;
	position: absolute;
	top: 0.75em;
}

.nav {
	padding: 1.5em 2em;
}

#main-nav {
	padding: 1.5em 0;
	position: relative;
	left: -1em;
}

#container {
	margin: 0 0 5em;

	> article {
		> section {
			width: 700px;
			@include sides-margin(auto);
		}
	}
}

#map-view {
	height: 400px;
	width: 100%;
	margin: 1.5em 0;
}

.layout--header {
	padding: 0 0 1em;

}

.layout--single-column {
	margin: 0 auto;
	max-width: 45em;
}

.layout--center {
	text-align: center;
}
