#logotype {
	left: 2em;
	position: fixed;
	top: 0.5em;
}

.nav {
	text-align: right;
	padding: 1.5em 2em;
}

#container {
	margin: 0 10em 5em;
}

#google-map { height: 400px; }

p {
	max-width: 40em;
}