@mixin breakpoint($number) {
	@media (min-width: $number) {
		@content;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes $name {
		@content;
	}

	@-moz-keyframes $name {
		@content;
	}

	@-ms-keyframes $name {
		@content;
	}

	@-o-keyframes $name {
		@content;
	}

	@keyframes $name {
		@content;
	}
}

@mixin sides-padding($number) {
	padding-left: $number;
	padding-right: $number;
}

@mixin sides-margin($number) {
	margin-left: $number;
	margin-right: $number;
}

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: $argument;
	-moz-#{$name}: $argument;
	-ms-#{$name}: $argument;
	-o-#{$name}: $argument;
	$name: $argument;
}