#page-renginiai details {
    font-size: 1.2em;
}
.prizes-side-by-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint($bp5) {
        flex-direction: row;
    }
}
.prizes-side-by-side > .cloudimage-360 {
    margin: .5rem;
}
