.projects {
  margin: 0 auto;
  max-width: 1440px;
}

.project {
  display: flex;
  flex-direction: column-reverse;
  @include breakpoint($bp5) {
    flex-direction: row;
  }
  background: #fff;
  border-radius: 3px;
  margin: 0 0 2em;
  overflow: hidden;
}

.project-hero-image {
  flex-grow: 1;
  flex-shrink: 0;
  align-content: center;
  align-self: center;
  @include breakpoint($bp5) {
    max-width: 33%;
  }
}

.project-title {
  margin-top: 0;
}

.project-container {
  padding: 2em;
}

