{% include header.ext %}
<article>
  <header class="layout--header layout--single-column">
    <h1 id="logotype-seed" class="primary-color">{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2 class="primary-color">{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  <div class="layout--single-column">
    {% if page.hero %}
      {% assign hero_src = page.path | remove_first: "_projektai/" | remove_first: "/page.md" | prepend: "/projektas/" | append: "/images/hero.jpg" %}
      <img src="{{hero_src}}">
    {% endif %}
    {{ content }}
    {% if page.author %}
      Projekto autorius: {{ page.author }}
    {% endif %}
  </div>
</article>
{% include footer.ext %}
